<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		
		<title>Sobre| Tafari</title>
		<!-- Loading third party fonts -->
		<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900" rel="stylesheet" type="text/css">
		<link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
		<!-- Loading main css file -->
		<link rel="stylesheet" href="style.css">
		
		<!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->

	</head>

	<body>
		
		<div id="site-content">
			<header class="site-header">
				<div class="container">
					<a href="index.html" id="branding">
						<img src="dummy/" alt="Makonnen Tafari">
						<small class="site-description"></small>
					</a> <!-- #branding -->
					
					<nav class="main-navigation">
						<button type="button" class="toggle-menu"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item current-menu-item"><a href="index.html">Home</a></li>
							<li class="menu-item"><a href="about.html">Sobre</a></li>
							<li class="menu-item"><a href="gallery.html">Galeria</a></li>
							<li class="menu-item"><a href="download.html">Download</a></li>
							<li class="menu-item"><a href="blog.html">Agenda</a></li>
							<li class="menu-item"><a href="contact.html">Contatos</a></li>
						</ul> <!-- .menu -->
					</nav> <!-- .main-navigation -->
					<div class="mobile-menu"></div>
				</div>
			</header> <!-- .site-header -->
			
			<main class="main-content">
				<div class="fullwidth-block inner-content">
					<div class="container">
						<div class="row">
							<div class="col-md-7">
								<div class="content">
									<h2 class="entry-title">Minha Historia</h2>
									<figure class="featured-image">
										<img src="dummy/post-image.jpg" alt="post image">
									</figure>
									<p class="leading">Makonnen Tafari, cantor e compositor principal do grupo de rap de Salvador (Nova Saga) que teve o iniciou em 20 de novembro de 2007 e lançou o seu primeiro Álbum dia 28 de novembro de 2009 intitulado (Tempo Pra Viver) </p>
									<p>Makonnen Tafari também faz parte do selo musical Back to Back music, criado por ele e DJ Akani. Afim de organizar e profissionalizar artistas atuantes no cenário Rap/HipHop de Salvador..</p>

									<p>Inicio no mês de Novembro de 2007 Makonnen Tafari, que tinha 9 anos e compôs a sua primeira canção intitulada Realidade do Guetto,com objetivo de cantar a realidade do que acontece na sociedade. Tafari têm como objetivo traçar um caminho em que valorizem suas raízes, mostrando a própria história e a realidade do lugar onde vive.
									Makonnen também faz parte do grupo "Nova Saga, que  quer dizer Nova Era, Nova história, Novo momento, Afirmação da ancestralidade, Mudança Nova trajetória Momento de Conquista e Transformação. Com a idéia de somar para fazer a diferença, a banda interage com outros grupos de Hip Hop em seus shows. 
Apesar da pouca idade dos componentes do grupo, eles já têm uma trajetória de gente grande no universo da musica rapper. A Praça Tereza Batista , no Pelourinho, são palcos constantes de suas apresentações, mas sua principal atuação foi durante o carnaval de Salvador. Eles participaram dos trios do Reggae e Sou do Pelô, levando o Hip Hop ao circuito da festa e democratizando um estilo que já é democrático em todo o seu contexto, desde as letras às batidas e instrumentais, intercalando rimas com as músicas dos demais artistas presentes no evento. 
Fora do Estado já se apresentaram em Brasília, durante apresentação do IV desfile de moda Africana,e em Belém do Pará, no Tributo a Bob Marley na Praça da República.recife Rio de Janeiro, Minas Gerais...lançou o seu primeiro álbum, “Tempo para Viver” no mês de novembro de 2009, A musica Nunca desista, dos autores Makonnen Tafari Akanny, monstra a realidade e falta de oportunidade que o mundo oferece,aos jovens, mas a perseverança é o que lhe impulsiona a seguir com essa musica revolucionaria.</p>
								</div>
							</div>
							<div class="col-md-4 col-md-push-1">
								<aside class="sidebar">
									<div class="widget">
										<h3 class="widget-title">Discografia</h3>
										<ul class="discography-list">
											<li>
												<figure class="cover"><img src="dummy/thumbnail-1.jpg" alt="thumbnail 1"></figure>
												<div class="detail">
													<h3><a href="#">Tafari loko parte 2</a></h3>
													<span class="year">2017</span>
													<span class="track">17 tracks</span>
												</div>
											</li>
											<li>
												<figure class="cover"><img src="dummy/thumbnail-2.jpg" alt="thumbnail 2"></figure>
												<div class="detail">
													<h3><a href="#">Tafari Loko parte 1 </a></h3>
													<span class="year">2016</span>
													<span class="track">17 tracks</span>
												</div>
											</li>
											
											
												</div>
											</li>
										</ul>
									</div>
								</aside>
							</div>
						</div>
					</div>
				</div> <!-- .testimonial-section -->

				
			</main> <!-- .main-content -->

			<footer class="site-footer">
				<div class="container">
					<img src="dummy/" alt="TAFARI">
					
					<address>
						<p>Rua Padre Daniel Lisboa <br><a href="tel:354543543">19e Brotas - Salvador BA</a> <br> <a href="mailto:info@bandname.com">makonnentafari@gmail.com</a></p> 
					</address> 
					
					<form action="#" class="newsletter-form">
						<input type="email" placeholder="Digite seu e-mail para receber nossos conteúdos...">
						<input type="submit" class="button cut-corner" value="Inscrever-se">
					</form> <!-- .newsletter-form -->
					
					<div class="social-links">
						<a href="#"><i class="fa fa-facebook-square"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-google-plus"></i></a>
						<a href="#"><i class="fa fa-instagram"></i></a>
					</div> <!-- .social-links -->
					
					<p class="copy">Copyright 2017 WM - Developer. Todos os Direitos Reservados</p>
				</div>
			</footer> <!-- .site-footer -->

		</div> <!-- #site-content -->

		<script src="js/jquery-1.11.1.min.js"></script>		
		<script src="js/plugins.js"></script>
		<script src="js/app.js"></script>
		
	</body>

</html>